rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /messages/{message} {
      allow read: if true;
      allow create: if request.auth != null;
      allow delete: if request.auth.uid == resource.data.author.id;
    }
    match /channels/{channel} {
      allow read: if true;
    }
    match /users/{user} {
      allow read: if true;
      allow create: if request.auth.uid == user;
      allow update: if request.auth.uid == user;
    }
  }
}
